<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <link rel="icon" type="image/png" href="{{ "/assets/img/favicon-96.png" | relative_url }}"/>
    <script type="text/javascript">
      function detectColorScheme() {
        var theme="light";    //default to light

        //local storage is used to override OS theme settings
        if(localStorage.getItem("room208-theme")){
            if(localStorage.getItem("room208-theme") == "dark"){
                theme = "dark";
            }
        } else if(!window.matchMedia) {
            //matchMedia method not supported
            return false;
        } else if(window.matchMedia("(prefers-color-scheme: dark)").matches) {
            //OS theme setting detected as dark
            theme = "dark";
        } else {
          theme = "light";
        }

        //dark theme preferred, set document with a `data-theme` attribute
        if (theme==="dark") {
            document.documentElement.setAttribute("data-theme", "dark");
        }

        setThemeButtonState();
      }

      function setThemeButtonState() {
        const themeButton = document.querySelector('#theme-mode-toggle');
        if (themeButton === null) return;
        const themeMode = document.documentElement.getAttribute("data-theme");
        const sun = '&#x263C;';
        const moon = '&#x263E;';

        if (themeMode === 'dark') {
          themeButton.innerHTML = sun;
        } else {
          themeButton.innerHTML = moon;
        }
      }

      function setThemeButtonAction() {
        const themeButton = document.querySelector('#theme-mode-toggle');
        if (themeButton === null) return;
        const sun = '&#x263C;';
        const moon = '&#x263E;';
        
        themeButton.addEventListener('click', () => {
          const themeMode = document.documentElement.getAttribute("data-theme");
          if (themeMode === 'dark') {
            document.documentElement.removeAttribute("data-theme");
            themeButton.innerHTML = moon;
            localStorage.setItem("room208-theme", "light");
          } else {
            document.documentElement.setAttribute("data-theme", "dark");
            themeButton.innerHTML = sun;
            localStorage.setItem("room208-theme", "dark");
          }
        });
      }

      function setScrollListener() {
        const indicator = document.createElement('div');
        indicator.classList.add('indicator');
        const section = document.querySelector('section');
        section.addEventListener('scroll', (_) => {
          const percentage = 100 * section.scrollTop / (section.scrollHeight - section.clientHeight);
          if (!isNaN(percentage)) {
            const addtionalStyle = "width: " + percentage + "%;";
            indicator.setAttribute('style', addtionalStyle);
          } else {
            indicator.removeAttribute('style');
          }
        });
        document.body.appendChild(indicator);
      }

      detectColorScheme();

      window.onload = () => {
        setThemeButtonState();
        setThemeButtonAction();
        setScrollListener();
      };
    </script>
  </head>
  <body>
    <div class="margin left"></div>
    <div class="wrapper">
      <header>
        <div>
          <div class="header-container">
            <div class="left">
              <div class="site-title-wrapper">
                <div>
                  <a class="site-title" href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>
                </div>
                <div>
                  <button type="button" name="button" id="theme-mode-toggle" class="theme-mode-button"></button>
                </div>
              </div>
              <p class="description">{{ site.description | default: site.github.project_tagline }}</p>
              {% if site.logo %}
                <img class="site-logo" src="{{site.logo | relative_url}}" alt="Logo" />
              {% endif %}
            </div>
            <div class="right">
              {% if site.github.is_project_page %}
              <p class="view">
                <a href="{{ site.github.repository_url }}">🖥️ Github <small>{{ site.github.repository_nwo }}</small></a>
              </p>
              {% endif %}
              <p class="reference">
                <a href="{{ site.reference.notion }}">🔗 Notion</a>
              </p>
              <p class="posts">
                <a href="{{ "/posts" | relative_url }}">📃 Posts</a>
              </p>
            </div>

            {% include posts.html %}

            <footer>
              <!--
              {% if site.github.is_project_page %}
              <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
              {% endif %}
              -->
              <p><small>Hosted on GitHub Pages<br/>&mdash;Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
            </footer>
          </div>
        </div>
      </header>
      <section>

        {{ content }}

      </section>
    </div>
    <div class="margin right"></div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
