---
layout: default
---

<div class="page-header">
  <span class="page-categories">{{ page.categories | join: ' / ' }}</span>
  <span class="page-date">{{ page.date | date: "%Y-%m-%d %a" }}</span>
</div>
<h1 class="page-title">{{ page.title }}</h1>

<p class="view">
  <span class="author">{{ page.author | default: site.author }}</span>
  {% if page.announced_on %}
    <br/>
    <span class="announced_on">{{ page.announced_on }}</span>
  {% endif %}
</p>


{{content}}

<!--
{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
-->
